<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :announcement_text %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.datetime_select :expiration_date, id: :announcement_expiration_date %>
  </div>
<!--  <input type="text" class="span2" id="announcement_expiration_date" name= "announcement[expiration_date]" value="09/18/2018 12:05">-->
<!--<script>-->
<!--$(function(){-->
<!--  $('#announcement_expiration_date').fdatepicker({-->
<!--		format: 'mm/dd/yyyy hh:ii',-->
<!--		disableDblClickSelection: true,-->
<!--		pickTime: true-->
<!--	});-->
<!--});-->
<!--</script>-->


  <div class="hidden_field">
    <%= form.hidden_field :user_id, id: :announcement_user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit :class => "button primary" %>
  </div>
<% end %>
