<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Expiration date</th>
      <th>Posted By</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.text %></td>
        <td><%= announcement.expiration_date.to_s(:long) %></td>
        <td><%= announcement.user.name %></td>
        <td><%= link_to 'Mark as seen', announcement_mark_as_seen_path(announcement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path, class: "button primary" %>
