<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @announcement.text %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @announcement.expiration_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @announcement.user %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
